DJANGO_SECRET_KEY=16jC1UD1fvf89XiHv2n734N5Vs7ZpzZibK
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=api_curso
POSTGRES_USER=api_curso
POSTGRES_PASSWORD=CursoVueJs
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
